<h1>Welcome To #SallofaSUTTON</h1>

<!-- <% if current_user %>
  <%= link_to 'Logout', logout_path %> |
<% else %>
  <%= link_to 'Login', login_path %> |
  <%= link_to 'Register', new_user_path %>
<% end %> -->

 <%= form_tag("/tweet",class: 'main-form') do %>
 <p class="search">
  <%= label_tag(:q, "Find Trending Topics") %>
  <%= text_field_tag :q, nil, class: "form-control", placeholder:"Let your mind run wild..." %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</p>
