<!--Search Bar-->
<%= form_tag("/tweet", class: 'main-form') do %>
<p class="search">
 <%= label_tag(:q, "Find Trending Topics") %>
 <%= text_field_tag :q, nil, class: "form-control", placeholder:"Let your mind run wild..." %>
 <%= submit_tag "Search", class: "btn btn-primary" %>
 <% end %>
</p>

<% @client.search("##{params[:q]} -rt", result_type: "recent").take(12).collect do |tweet| %>
<%#= tweet.inspect%>


  <% keyword = tweet.text.split %>
    <% if keyword.include? params[:q] %>
    <%= params[:q] %>
    <% end %>


<!---Tweet Content--->
<div class="row">
  <div class="col s4">
    <div class="center promo promo-example">
      <i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/<%= "#{tweet.user.screen_name}" %>" target="_blank"><strong> <%= "@#{tweet.user.screen_name}:" %></strong></a>
        <p>
          <%= tweet.text %>
        </p>

          <% tweet.media.each do | media |  %>
        <p>
          <%= image_tag(media.media_url_https.to_s, height: '163', width: '197') %>
        </p>
        <% end %>
    </div>
  </div>
</div>
<% end %>
