<%= render 'form'  %>

<% @client.search("##{params[:q]} -rt", result_type: "recent").take(1).collect do |tweet| %>


<!---Tweet Content--->
<div class="container tweet-container">
  <div class="row">
    <div class="col s12 m6">
      <div class="center promo promo-example">
        <div class="tweet">
          <i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/<%= "#{tweet.user.screen_name}" %>" target="_blank"><strong> <%= "@#{tweet.user.screen_name}:" %></strong></a>
              <p class="tweet">
                <%= tweet.text %>
              </p>
        </div>
        <% tweet.media.each do | media |  %>
        <p>
          <%= image_tag(media.media_url_https.to_s, height: '163', width: '197') %>
        </p>
      <% end %>
      </div>
    </div>
<% end %>
      <div class="col s12 m6">
        <div class="center promo promo-example">
          <audio controls autoplay>
            <% if !@tracks.empty? %>
              <source src="<%=@tracks.sample.preview_url %>" type="audio/mpeg">
            <% else %>
              <source src="<%= RSpotify::Track.search("My Boo", limit: 1).first.preview_url %>" type="audio/mpeg">
            <% end %>
          </audio>
          <div class="container">
            <% if !@picture.empty? %>
              <iframe src="<%= @picture.sample.embed_url.to_s %>" width="" height=""></iframe>
            <% else %>
              <iframe src="<%= Giphy.search("troll", {limit: 9}).third_to_last.embed_url.to_s %>" width="" height=""></iframe>
            <h1 class="error-message">You can do better than that!</h1>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
